<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="TestTask.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="YourProjectName.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<appSettings>
		<add key="Server" value="localhost\\SQLEXPRESS" />
		<add key="Database" value="YourDatabaseName" />
		<add key="Username" value="sa" />
		<add key="UseIntegratedSecurity" value="false" />
	</appSettings>

	<connectionStrings>
		<add name="DefaultConnection" connectionString="Server=localhost\\SQLEXPRESS;Database=YourDatabaseName;Integrated Security=true;" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<userSettings>
		<TestTask.Properties.Settings>
   <setting name="Server" serializeAs="String">
    <value />
   </setting>
   <setting name="Database" serializeAs="String">
    <value />
   </setting>
   <setting name="Username" serializeAs="String">
    <value />
   </setting>
   <setting name="UseIntegratedSecurity" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ConnectionString" serializeAs="String">
    <value />
   </setting>
  </TestTask.Properties.Settings>
  <YourProjectName.Properties.Settings>
			<setting name="Server" serializeAs="String">
				<value />
			</setting>
			<setting name="Database" serializeAs="String">
				<value />
			</setting>
			<setting name="Username" serializeAs="String">
				<value />
			</setting>
			<setting name="UseIntegratedSecurity" serializeAs="String">
				<value>False</value>
			</setting>
		</YourProjectName.Properties.Settings>
	</userSettings>
</configuration>